$white: #FFFFFF;
$owhite: #F4F6FA;
$black:  #000000;
$blue: #2585C6;
$dblue: #246693;
$lblue: #2FABFF;
$link-blue: #2C98D1;
$green: #00BF69;
$dgreen: #5D9520;
$yellow: #F8E71C;
$dyellow: #D8CA16;
$red: #FF0120;
$dred: #D0021B;
$grey: #4A4A4A;
$lgrey: #9B9B9B;
$lgrey2: #E1E1E1;

$container-width: 1200px;
$contain: 0 10px;
$contain-1: 0 20px;

$font-1: "Lato", Arial, sans-serif;
$font-2: "sofia-pro", "Lato", Arial, sans-serif;

$font-size-small: 12px;
$font-size-smallx2: 14px;
$font-size-reg: 16px;
$font-size-regx2: 18px;

$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;

$font-size-large: 60px;
$font-size-largex2: 72px;